/* CSS Document */
body{
	font-size:15px;
	font-family:宋体;
}
a{
	color:#ec8d24;
}
a:active,
a:hover{
	color:#fff;
	background:#eb8d24;
	text-decoration:none;
}
h1,h2,h3,h4{
	font-family:宋体;
}
.cbookright{
	float:left;
	width:50%;
}
.cbookside{
	float:left;
	width:25%;
}
.cbooktop{
	float:left;
	width:100%;
	
}

.cbooktop::after{
	content:" ";
	display:block;
	height:0px;
	width:0px;
	clear:both;
}
.cbookbottom{
	float:left;
	width:100%;
	margin-left:80px;
}
.cbookbottom .active{
	background:#eeeeee;
}
.prod_title h4{
	padding:0px;
	font-family:宋体;
}
.prod_title p{
	margin:0px 5px;
	font-family:宋体;
}
.cbooksidecss p{
	color:#ccc;
	padding:0px;
	margin:10px 5px;
    font-size:16px;
	
}
.cbooksidecss ul li{
	display:block;
	list-style-type:none;
	padding:5px 5px;
	-moz-binding: url('ellipsis.xml#ellipsis');  
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap; 
	
}
.cbooksidecss ul li a{
	color:#ec8d24;
	text-decoration:none;
	font-size:16px;
	
}
.cbooksidecss ul li a:hover{
	color:#ec8d24;
	text-decoration:none;
	background:#ec8d24;
	color:#fff;
}
.pagestyle{
	
}
.cookmenubanner{
    float:left;
	width:100%;
	height:100%;
}
.ssss{

}

.cbookcontent a {
	font-family:sans-serif;
	color:#ec8d24;
}
.cbookcontent span{
	font-family:sans-serif;
}


.cbookcontent a {
	font-family:sans-serif;
	text-decoration:none;
	color:#ccc;
}
.cbuser:hover p{
	color:#ec8d24;
	text-decoration:none;
}
.prod_title  a{
color:#ec8d24;

}
.prod_title  a:hover{
background:#ec8d24;
color:#fff;
}