/* CSS Document */

.mediafriend{
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
}
.mediafriendl{
	float:left;
	width:67px;
	margin-left:20px;
	
	
	
}
.mediafriendr{
	float:left;
	width:600px;
	margin-left:20px;
	
}
.mediafriendr span{
	float:left;
     display:inline;
	 color:#d9d7d7;
}
.mediafriendr a{
	text-decoration:none;
	
}
.mediafriendr a:hover{
	color:#ec8d24;
}
.mediafriendr a:hover span{
	color:#ec8d24;
	

}
.mediafriendl img{
	width:67px;
	height:67px;

	
}
.mediainforight a {
	
	text-decoration:none;
	
}
.mediainforight a:hover{
	color:#ec8d24;
}
