.creatediv{
	width:100%;
	float:left;
	
}
.createcss{
	float:right;
	background:#ec8d24;
	color:#fff;
	width:100px;
	text-shadow:none;
	font-size:16px;
	border-radius: 0px;	
	border:1px solid #ec8d24;
	margin-top:10px;
	margin-bottom:10px;
}
.createcss:hover{
	background:#ce7008;
	color:#fff;
    background-repeat: repeat-x;
	border:1px solid  #ce7008;
}

.menuname{
	width:100%;
	float:left;
	
}
.menuname a{
	display:block;
	font-size:16px;
	border-bottom:1px solid #f3f1ed;
	padding:10px 5px;
}
.mediainfo{
	float:left;
    width:100%;
	margin-top:20px;
	margin-bottom:20px;
}
.mediainfoleft{
	float:left;
	width:200px;
	

}
.mediainfoleft img{
	width:178px;
	height:178px;
}

.mediainforight{
	float:left;
	width:600px;
	margin-left:40px;
	
}
.changea{
	float:right;
	background:#ccc;
	color:#fff;
	width:100px;
	text-shadow:none;
	font-size:16px;
	border-radius: 0px;	
	border:1px solid #ccc;
	margin-top:10px;
	margin-bottom:10px;
	
}
.changea:hover{
	background:#ccc;
	color:#fff;
    background-repeat: repeat-x;
	border:1px solid  #ccc;
	
}